* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 2px dotted rgb(231, 4, 4); */
  }
  
  html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  a  {
    text-decoration: none;
    color: white;
  }
  

  .modal-details-wrapper {
    display: none;
    position: fixed; /* Keep in center so it does not move with scroll*/
    top: 15%;
    left: 25%;
    transform: translate(0%, 0%);
    z-index: 2; 
    width: 50%;
    border: 5px solid white;
    border-radius: 25px;
    font-family: cursive;
  }
  
  .modal-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* padding: 0px 25px 0 15rem; */
    background-color:#282c34;;
    border-top: 5px solid white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 3rem;
    color: white;
    text-shadow: 2px 2px 2px #ffc600, 2px 2px 2px #ffc600,
    18px 10px 8px rgba(42, 113, 206, 0.8);
  }
  
  .modal-header svg {
    position: absolute;
    top: 20px;
    right: 25px;
    font-weight: bold;
  }

  svg {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
  svg > circle {
      stroke: black;
      fill: white;
  }
  svg > path {
      stroke: black;
  }
  svg:hover > circle {
      fill: #ffc600;
  }
  svg:hover > path {
      stroke: white;
  }
  
  .main-movie-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
    color: white;
    background-color:  rgba(42, 113, 206);
  }

  .movie-details {
    display: flex;
    flex-flow: column;
    height: 150px;
    width: 250px;
  }
  
    
  .modal-movie-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color:#282c34;
    border-top: 5px solid white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 2rem;
    font-size: .75rem;
    color: white;
  }
  
  a:hover, p span:hover, span:hover  {
    cursor: pointer;
    text-shadow: 15px 15px 15px rgb(0, 19, 128);
    font-size: 1.25rem;
  }
  
  img {
    width: 7rem;
    border: 2px solid white;
  }
  /* Rotate the image */
  img:hover {
    /* adjust the seconds to speed-up or slow down rotation*/
    animation: rotation 3s infinite linear;
  
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }